.App{
    background-size: cover;
}

.bg01d{
    background-image: url(/clear_sky.webp);
}
.bg01n{
    background-image: url(/01n.webp);
}
.bg02d{
    background-image: url(/few_clouds.webp);
}
.bg02n{
    background-image: url(/02n.webp);
}
.bg03d{
    background-image: url(/scattered_clouds.webp);
}
.bg03n{
    background-image: url(/03n.webp);
}
.bg04d{
    background-image: url(/broken_clouds.webp);
}
.bg04n{
    background-image: url(/04n.webp);
}
.bg09d{
    background-image: url(/shower_rain.webp);
}
.bg09n{
    background-image: url(/09n.webp);
}
.bg10d{
    background-image: url(/rain.webp);
}
.bg10n{
    background-image: url(/10n.webp);
}
.bg11d{
    background-image: url(/11d.webp);
}
.bg11n{
    background-image: url(/11n.webp);
}
.bg13d{
    background-image: url(/snow.webp);
}
.bg13n{
    background-image: url(/13n.webp);
}
.bg50d{
    background-image: url(/mist.webp);
}
.bg50n{
    background-image: url(/50n.webp);
}